@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron:wght@400..900&display=swap');


*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(125, 223, 154) ;
}

header{
    background-image: linear-gradient(to top,  rgb(18, 63, 32)
    , rgb(125, 223, 154));
    color: rgb(230, 230, 230);
    height: 140px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 400;
}
#cabeca{
    text-align: center;
}

#cabeca p {
    padding-top: 20px;
    width: 300px;
}

#menu{
    padding-top: 16px;
    list-style: none;
    color: white;
    
}

#menu li{
    display: inline;

}
#menu li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    
    
}

#menu li a:hover{
    background-color: white;
    color: rgb(26, 85, 44);
    transition-duration: 0.5s;
    border-radius: 10px;
    
}

main{
    width: 800px;
    text-align: center;
    background-color: white;
    padding: 10px;
    margin: auto;
    text-align: justify;
}

main h1{
    color: rgb(1, 85, 1);
    font-family: "Orbitron", sans-serif;
}

h2{
    color: rgb(1, 85, 1);
    background-image: linear-gradient(to right, rgba(0, 128, 0, 0.295), white);
    font-family: "Orbitron", sans-serif;
}

div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
#extraul{
    list-style: outside;
}